:root {
    --basic-color: #533738;
    --basic-white-color: #ffffff;
    --basic-background-color: #EFE6E4;
    --dark-background-color: #8D7370;
    --extra-background-color: #E2C4BA;
    --extra-color: #CC8B86;
}

body {
    margin: 0;
    font-family: 'Montserrat', 'Arial', sans-serif;
    color: var(--basic-color);
    font-size: 18px;
    line-height: 30px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;      
}

.clearfix::after {
    content: "";
    display: table; 
    clear: both; 
}

.container {
    width: 1200px;
    padding: 0 100px;
    margin: 0 auto;
    background-color: var(--basic-background-color);
}

/* header */
.main-header {
    padding-top: 29px;
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    height: 686px;
}

.main-header a {
    text-decoration: none;
    color: inherit;
}

.main-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 84px;
}

.main-header img {
    width: 91px;
    height: 25px;
    margin-right: 83px;
}

.main-header__list {
    padding: 0;
    margin: 0;
    margin-right: 26px;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-header__list a {
    font-size: 16px;
    line-height: 20px;

    display: block;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-header__list li {
    margin-right: 14px;
}

.main-header__list li:last-child {
    margin-right: 0;
}

.main-header__phone {
    font-size: 16px;
    line-height: 20px;
}

.main-header__preview {
    padding-left: 82px;
    padding-right: 582px;
}

.main-header__preview p:first-child {
    font-size: 50px;
    line-height: 62px;
}

.main-header__preview p:last-child {
    margin-top: 23px;
    margin-bottom: 24px;
}

.btn {
    box-sizing: border-box;
    display: inline-block;
    width: 309px;
    height: 74px;
    
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 74px;
    text-align: center;
    background-color: var(--extra-color);
    border: none;
}

/* about us */
.about-us {
    padding-top: 65px;
    padding-right: 182px;
    padding-left: 182px;
    padding-bottom: 20px;

    width: 1036px;
}

.section__title {
    margin: 0;
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.about-us img {
    float: left;
}

.about-us__text {
    margin-left: 508px;
    line-height: 31px;
}

.about-us__text + .about-us__text {
    margin-top: 26px;
}

/* features */
.features {
    background-color: var(--dark-background-color);
    padding-top: 87px;
    padding-bottom: 78px;
    padding-right: 182px;
    padding-left: 182px;
    
    width: 1036px;
}

.features__list {
    padding: 0;
    margin: 0;
    list-style: none;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.features__item {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: var(--basic-white-color);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__item span {
    font-size: 50px;
    line-height: 62px;
    margin-bottom: 10px;
}

/* projects */
.projects {
    padding-top: 68px;
    padding-bottom: 79px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects .section__title {
    text-align: start;
    width: 100%;
}

.projects__item {
    margin-bottom: 22px;
}

.projects__item img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.item-project__cover {
    text-align: center;
    color: var(--basic-white-color);
}

.item-project__cover h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
}

.projects .project__link-more {
    margin: 0 auto;
    margin-top: 11px;
    padding-right: 70px;
    
    position: relative;

    color: inherit;
    text-decoration: none;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
}

.project__link-more::after {
    content: '';
    position: absolute;
    width: 61px;
    height: 37px;
    right: 0;
    top: 11px;

    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
}

/* team */
.team {
    padding-top: 50px;
    padding-bottom: 12px;
    padding-left: 159px;
    padding-right: 205px;
    width: 1036px;
    
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background-color: var(--extra-background-color);
}

.team::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--basic-background-color);
    height: 100%;
    width: 23px;
}

.team .section__title {
    width: 100%;
}

.team__item {
    width: 320px;
    margin-right: 38px;
}

.team__item:nth-of-type(3n) {
    margin-right: 0;
}

.team__desc {
    margin-top: 2px;
}

/* work-process */
.work-process {
    padding-bottom: 80px;
    position: relative;

    background-color: var(--extra-background-color);
}

.work-process::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--basic-background-color);
    height: 100%;
    width: 23px;
}

.work-process .section__title {
    margin-bottom: 40px;
    padding-left: 46px;
}

.work-process__list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* ?Как стилизовать цифры списка автоматически? */
.work-process__item {
    position: relative;
    width: 285px;
    text-align: center;
    margin-right: 20px;
    padding-top: 90px;
}

.work-process__item:last-child {
    margin-right: 0;
}

.work-process__item::before {
    content: '';
    color: var(--basic-white-color);
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 107px;
    width: 70px;
    height: 70px;

    background-color: var(--dark-background-color);
    border-radius: 50%;
}

.work-process__item:nth-child(1):before {
    content: '1';
}
.work-process__item:nth-child(2):before {
    content: '2';
}
.work-process__item:nth-child(3):before {
    content: '3';
}
.work-process__item:nth-child(4):before {
    content: '4';
}

/* reviews */
.reviews {
    padding-top: 51px;
    padding-bottom: 65px;
    padding-left: 182px;
    padding-right: 182px;
    width: 1037px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.reviews blockquote {
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews__arrow {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    top: -13px;
}

.reviews__arrow::before {
    content: '';

    position: absolute;
    width: 70px;
    height: 70px;

    background-color: var(--extra-color);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.arrow-review--left::before {
    background-image: url("../img/arrow-left-white.svg");
}

.arrow-review--right::before {
    background-image: url("../img/arrow-right-white.svg");
}

.reviews .section__title {
    width: 100%;
}

.reviews__content {
    width: 407px;
    margin-right: 20px;
    vertical-align: middle;
}

.reviews__desc {
    margin: 0;
}

.reviews__desc + .reviews__desc {
    margin-top: 32px;
}

.reviews__user {
    margin-top: 27px;
    display: block;
}

.reviews__imgs {
    width: 407px;
    
    display: flex;
    flex-wrap: wrap;
}

.reviews__imgs img {
    margin-bottom: 24px;
}

.reviews__imgs img:last-child {
    margin-bottom: 0;
}

/* columns */
.index-columns {
    display: flex;
    justify-content: space-between;


    background-color: var(--dark-background-color);

}

/* submit-request */
.request {
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 82px;

    color: var(--basic-white-color);
}

.request .section__title {
    margin-bottom: 20px;
    text-align: start;
}

.request__desc {
    margin: 0;
    margin-bottom: 40px;

    opacity: 0.6;
}

.request__form {
    display: flex;
    flex-direction: column;
}

.request__input {
    box-sizing: border-box;
    padding-top: 6px;
    padding-bottom: 7px;
    padding-left: 0;
    width: 100%;

    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
}

.request__input::placeholder {
    color: #F6EDE9;
}

.request-form__item + .request-form__item {
    margin-top: 26px;
}

.request-form__item + .btn {
    margin-top: 31px;
}

/* map */
.address iframe {
    border: 0;
    display: block;
}

/* footer */
.main-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 23px;
}

.main-footer a {
    text-decoration: none;
    color: inherit;
    margin-right: 42px;
}

.cooperate {
    margin-left: auto;
}